main
	.services
		height: 1242px
		background-color: #EBEBEB
		position: relative
		display: flex
		justify-content: center
		flex-direction: column
		padding-left: 18.5%
		padding-right: 20%

		>p
			font-family: 'Lato', sans-serif
			font-style: normal
			font-weight: 900
			font-size: 24px
			line-height: 33px
			color: #BDBDBD

		h2
			font-family: 'Merriweather', serif
			font-style: normal
			font-weight: 900
			font-size: 48px
			line-height: 69px
			color: #333333
			padding-top: 30px
			padding-bottom: 50px

		.services_cards
			display: grid
			grid-template-columns: repeat(3, 1fr)
			grid-template-rows:	repeat(2, 1fr)
			grid-gap: 40px
			justify-content: center

			>div
				background: url('../media/card_background.png')
				width: 350px
				height: 360px
				cursor: pointer
				transition: background 0.5s ease

				&:hover
					background: url('../media/card_background2.png')
					background-size: cover
					background-position: center

				>p
					font-family: 'Lato', sans-serif
					font-style: normal
					font-weight: 900
					font-size: 24px
					line-height: 30px
					color: white
					padding-top: 75%
					padding-left: 10%

	.about_us
		width: 100%
		height: 90vh
		background-color: #F9F9F9
		display: flex

		.left_side
			max-width: 50%
			min-width: 50%

			>h2
				font-family: 'Lato', sans-serif
				font-style: normal
				font-weight: 900
				font-size: 24px
				line-height: 33px
				color: #BDBDBD
				padding-left: 37%
				padding-top: 12%
				padding-bottom: 3%

			>p
				font-family: 'Merriweather', serif
				font-style: normal
				font-weight: 900
				font-size: 48px
				line-height: 69px
				color: #333333
				padding-left: 37%

			>p+p
				color: #005FA3
				padding-left: 37%

			>p+p+p
				font-family: 'Lato', sans-serif
				font-style: normal
				font-weight: 300
				font-size: 18px
				line-height: 25px
				color: #000000
				padding-left: 37%
				padding-right: 10%
				padding-top: 3%

		.right_side
			max-width: 50%
			min-width: 50%
			display: grid
			grid-template-columns: repeat(2, 255px)
			grid-template-rows:	repeat(2, 255px)
			grid-gap: 40px
			padding-top: 7%
			padding-left: 7px

			>div
				background-color: #EBEBEB
				padding: 15%
				display: flex
				color: black
				flex-direction: column
				justify-content: space-between
				transition: background-color 0.5s, color 0.5s ease

				&:hover
					background-color: #005FA3
					color: #fff

					a
						color: #fff

				>h3
					font-family: 'Lato', serif
					font-style: normal
					font-weight: 900
					font-size: 55px
					line-height: 66px
					letter-spacing: 0.1em
					text-transform: uppercase

				>p
					font-family: 'Lato', sans-serif
					font-style: normal
					font-weight: 700
					font-size: 14px
					line-height: 18px

				>a
					font-family: 'Lato', sans-serif
					font-style: normal
					font-weight: 700
					font-size: 14px
					line-height: 17px
					text-decoration-line: underline
					color: #005FA3
					padding-top: 15%
					transition: color 0.5s

	.our_clients
		display: flex
		flex-direction: column
		justify-content: center
		height: 630px
		background-color: #EBEBEB
		padding-left: 20%
		padding-right: 20%

		>h2
			font-family: 'Lato', sans-serif
			font-style: normal
			font-weight: 900
			font-size: 24px
			line-height: 33px
			color: #BDBDBD
			padding-top: 5%
			padding-bottom: 2%

		>p
			font-family: 'Merriweather', serif
			font-style: normal
			font-weight: 900
			font-size: 48px
			line-height: 69px

		.client-container
			margin: 0 auto
			width: 100%
			height: 200px
			position: relative

			&>div
				width: 100%
				height: 70%

		.client-main
			overflow: hidden

		.client-frame
			height: 100%
			position: relative
			display: flex
			justify-content: space-between
			transition: right 0.5s ease

			&>div
				height: 100%
				width: 80%
				background-size: cover
				background-position: center

		.client-trigger
			position: absolute
			right: 1%
			bottom: 10%
			display: flex

			&>div
				height: 50px
				width: 50px
				display: flex
				justify-content: center
				align-items: center
				font-size: 14px
				color: white
				background-color: #005FA359
				cursor: pointer
				transition: background-color 0.3s ease

				&:hover
					background-color: #005fa3

		.client-points
			position: absolute
			bottom: 0
			left: 0
			display: flex
			list-style: none

			li
				width: 8px
				height: 8px
				background-color: #005FA359
				cursor: pointer
				border-radius: 50px
				transition: background-color 0.2s ease

				&:hover
					background-color: #005FA3d6

				&.activeClient
					background-color: #005FA3

			li+li
				margin-left: 30px

	.reviews
		display: flex
		flex-direction: column
		height: 800px
		padding-left: 20%
		padding-top: 5%


		>h2
			font-family: 'Lato', serif
			font-style: normal
			font-weight: 900
			font-size: 24px
			line-height: 33px
			color: #BDBDBD

		>p
			font-family: 'Merriweather', serif
			font-style: normal
			font-weight: 900
			font-size: 48px
			line-height: 69px
			padding-bottom: 50px

		>div
			display: flex
			flex-direction: column
			background-color: #EBEBEB
			width: 1110px
			height: 320px
			padding-left: 95px
			padding-right:95px

			>p
				font-family: 'Lato', serif
				font-style: normal
				font-weight: 300
				font-size: 18px
				line-height: 25px
				padding-top: 45px


			.client
				display: flex
				align-items: center
				padding-top: 30px
				
				>img
					width: 80px
					height: 80px

				.client_name
					
					>p
						font-family: 'Lato', serif
						font-style: bold
						font-weight: 900
						font-size: 18px
						line-height: 25px
						color: #000000
						padding-left: 30px

					>p+p
						font-family: 'Lato', serif
						font-style: normal
						font-weight: 400
						font-size: 14px
						line-height: 19px
						color: #4F4F4F
