@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding: 0 20%;
  position: relative;
}
nav #logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav #logo img {
  height: 35px;
  width: 35px;
}
nav #logo .logoText {
  padding-left: 20px;
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 50px;
  color: #005FA3;
}
nav .nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav li {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
}
nav .nav li a {
  color: black;
}
nav .nav li a:visited {
  color: black;
}
nav .nav li + li {
  padding-left: 50px;
}

.head_main {
  height: 75vh;
  width: 100%;
  background-image: url("../media/main_background.png");
  background-position: top center;
  position: relative;
  background-size: cover;
}
.head_main #main_root {
  display: flex;
  flex-direction: column;
}
.head_main #main_root h1 {
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 66px;
  color: white;
  position: absolute;
  left: 20%;
  top: 150px;
  max-width: 500px;
}
.head_main #main_root .main_btn {
  width: 270px;
  height: 60px;
  background-color: #005FA3;
  color: white;
  position: absolute;
  left: 20%;
  top: 350px;
  cursor: pointer;
  outline: none;
  border: none;
}

main .services {
  height: 1242px;
  background-color: #EBEBEB;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 20%;
  padding-right: 20%;
}
main .services > p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;
  color: #BDBDBD;
}
main .services h2 {
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 69px;
  color: #333333;
  padding-top: 30px;
  padding-bottom: 50px;
}
main .services .services_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 40px;
  justify-content: center;
}
main .services .services_cards > div {
  background-image: url("../media/card_background.png");
  width: 350px;
  height: 360px;
}
main .services .services_cards > div > p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  color: white;
  padding-top: 75%;
  padding-left: 10%;
}
main .about_us {
  width: 100%;
  height: 90vh;
  background-color: #F9F9F9;
  display: flex;
}
main .about_us .left_side {
  max-width: 50%;
  min-width: 50%;
}
main .about_us .left_side > h2 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;
  color: #BDBDBD;
  padding-left: 40%;
  padding-top: 12%;
  padding-bottom: 3%;
}
main .about_us .left_side > p {
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 69px;
  color: #333333;
  padding-left: 40%;
}
main .about_us .left_side > p + p {
  color: #005FA3;
  padding-left: 40%;
}
main .about_us .left_side > p + p + p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  padding-left: 40%;
  padding-right: 10%;
  padding-top: 3%;
}
main .about_us .right_side {
  max-width: 50%;
  min-width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 255px);
  grid-template-rows: repeat(2, 255px);
  grid-gap: 40px;
  padding-top: 7%;
  padding-left: 17px;
}
main .about_us .right_side > div {
  background-color: #EBEBEB;
  padding: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .about_us .right_side > div > h3 {
  font-family: "Lato", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 55px;
  line-height: 66px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
main .about_us .right_side > div > p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}
main .about_us .right_side > div > a {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
  color: #005FA3;
  padding-top: 15%;
}
main .our_clients {
  display: flex;
  flex-direction: column;
  height: 630px;
  background-color: #EBEBEB;
  padding-left: 20%;
}
main .our_clients > h2 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;
  color: #BDBDBD;
  padding-top: 5%;
  padding-bottom: 2%;
}
main .our_clients > p {
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 69px;
}
main .our_clients > div {
  display: flex;
  padding-top: 10%;
}
main .reviews {
  display: flex;
  flex-direction: column;
  height: 800px;
  padding-left: 20%;
  padding-top: 5%;
}
main .reviews > h2 {
  font-family: "Lato", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;
  color: #BDBDBD;
}
main .reviews > p {
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 69px;
  padding-bottom: 50px;
}
main .reviews > div {
  display: flex;
  flex-direction: column;
  background-color: #EBEBEB;
  width: 1110px;
  height: 320px;
  padding-left: 95px;
  padding-right: 95px;
}
main .reviews > div > p {
  font-family: "Lato", serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  padding-top: 45px;
}
main .reviews > div .client {
  display: flex;
  align-items: center;
  padding-top: 30px;
}
main .reviews > div .client > img {
  width: 80px;
  height: 80px;
}
main .reviews > div .client .client_name > p {
  font-family: "Lato", serif;
  font-style: bold;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  padding-left: 30px;
}
main .reviews > div .client .client_name > p + p {
  font-family: "Lato", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #4F4F4F;
}

footer .feedback {
  background-image: url("../media/feedback_background.png");
  background-position: top center;
  background-size: cover;
  position: relative;
  height: 70vh;
  padding-left: 20%;
  padding-top: 5%;
  display: flex;
}
footer .feedback .feedback_left_side {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  color: white;
  padding-right: 10%;
}
footer .feedback .feedback_left_side h2 {
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 69px;
  color: #FFFFFF;
  padding-bottom: 70px;
}
footer .feedback .feedback_left_side > p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  padding-bottom: 70px;
}
footer .feedback .feedback_left_side .contacts {
  display: flex;
}
footer .feedback .feedback_left_side .contacts > p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 25px;
  padding-bottom: 50px;
  padding-right: 5%;
}
footer .feedback .feedback_left_side .contacts > p:before {
  content: "☏";
}
footer .feedback .feedback_left_side .contacts > p + p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 25px;
  padding-bottom: 50px;
}
footer .feedback .feedback_left_side .contacts > p + p:before {
  content: "✉";
}
footer .feedback .feedback_right_side {
  display: flex;
}
footer .feedback .feedback_right_side form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  max-width: 50%;
  color: white;
  height: 300px;
}
footer .feedback .feedback_right_side form .form_name {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
  height: 50px;
}
footer .feedback .feedback_right_side form .form_name input {
  background-color: transparent;
  color: white;
  outline: none;
  border: none;
  height: 30px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 29px;
  border-bottom: 1px solid #FFFFFF;
}
footer .feedback .feedback_right_side form .form_lastname {
  display: flex;
  flex-direction: column;
}
footer .feedback .feedback_right_side form .form_lastname input {
  background-color: transparent;
  color: white;
  outline: none;
  border: none;
  height: 30px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 29px;
  border-bottom: 1px solid #FFFFFF;
}
footer .feedback .feedback_right_side form .textarea {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  height: 30px;
}
footer .feedback .feedback_right_side form .textarea label {
  height: 20px;
}
footer .feedback .feedback_right_side form .textarea textarea {
  background-color: transparent;
  color: white;
  outline: none;
  border: none;
  height: 30px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 29px;
  border: none;
  border-bottom: 1px solid #FFFFFF;
  background-color: transparent;
  resize: none;
  width: 100%;
  height: 100px;
}
footer .feedback .feedback_right_side .footer_btn {
  width: 270px;
  height: 60px;
  background-color: #005FA3;
  color: white;
  position: absolute;
  right: 200px;
  top: 450px;
  cursor: pointer;
  outline: none;
  border: none;
}
footer .developed {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}
footer .developed p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
}

/*# sourceMappingURL=style.css.map */
